.chat-content {
  display: block;
  padding: 21px 24px;
  flex: 1;
  overflow: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-muted-3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-muted;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-muted;
  }

  &-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.msg {
  background-color: #fff;
  font-size: 0.938rem;
  line-height: 1.063rem;
  padding: 7px;
  color: $color-3;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba($color: #000, $alpha: 0.16);
  display: block;
  width: fit-content;
  max-width: 45%;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &-date,
  &-title {
    color: #000;
    font-size: 0.75rem;
  }

  &-date {
    margin-bottom: 12px;
    margin-left: 0 !important;
  }

  &-title {
    margin-bottom: 28px;
  }

  &-time {
    color: $color-3;
    font-size: 0.625rem;
    line-height: 1;
    font-weight: 400;
    opacity: 0.7;
    margin-left: 6px;
  }

  &:nth-child(odd) {
    margin-left: auto;
  }
}

@media only screen and (max-width: 991.98px) {
  .chat-content {
    max-height: 300px;
    height: 300px;
    min-height: 300px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 575.98px) {
  .chat-content {
    max-height: 40vh;
    height: 40vh;
    min-height: 40vh;
    overflow-y: auto;
  }
}
