@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: bold;
  src:
    local('CerebriSansPro-Bold'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: bold;
  src:
    local('CerebriSansPro-Bold'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 500;
  src:
    local('CerebriSansPro-Medium'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 500;
  src:
    local('CerebriSansPro-Medium'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 400;
  src:
    local('CerebriSansPro-Regular'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 400;
  src:
    local('CerebriSansPro-Regular'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 200;
  src:
    local('CerebriSansPro-Light'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'CerebriSansPro';
  font-style: normal;
  font-weight: 200;
  src:
    local('CerebriSansPro-Light'),
    url('/fonts/Cerebri.Sans.Pro/CerebriSansPro-Light.otf') format('opentype');
}
