$font-size: 1rem;

$color-1: #373753;
$color-2: #3057f2;
$color-3: #1b1b2b;
$color-4: #283E5D;
$color-muted: #677c92;
$color-muted-2: #e1e9f4;
$color-muted-3: #d9dce0;

$warning-color: #ffbb3a;
$success-color: #5cb868;

$font-1: 'CerebriSansPro';
